## Setup - Import and merge data

In [ ]:
import os
import pandas as pd

raw_bond_data_path = os.environ.get('BOND_DOWNLOAD_PATH')
raw_parcel_data_path = os.environ.get('PARCEL_DOWNLOAD_PATH')

# Convert to pandas DataFrame
bond_data = pd.read_excel(raw_bond_data_path, dtype={'Project: Project Name':str})
print(bond_data.head())

parcel_data = pd.read_excel(raw_parcel_data_path, dtype={'ProjectName':str})
print(parcel_data.head())

  Project Current OID       Project: Project Name                  Address1  \
0              18-92A                Renton Crest       3151 NE 16th Street
1              19-65A           Polaris at SeaTac  15307 International Blvd
2              19-74A  Filipino Community Village       5727 37th Avenue S.
3              19-75A             Confluence, The           3631 S 152nd St
4              19-77A           Uncle Bob's Place             417 8th Ave S

      City    Zip County  Count of Sites  Total Building Count  \
0   Renton  98056   King               6                    23
1   Seatac  98199   King               1                    23
2  Seattle  98118   King               1                     1
3  Tukwila  98188   King               1                     1
4  Seattle  98104   King               1                     1

   Common Area Setaside  Market Rate Setaside  ...  LIH 80%  Elderly Setaside  \
0                     3                     1  ...        0               213
1                     3                     0  ...        0                 0
2                     1                     0  ...        0                94
3                     0                     0  ...        0                 0
4                     1                     0  ...        0                 0

   Disabled Setaside  Large Household Setaside   Property Management Company  \
0                  0                        10            Allied Residential
1                 73                        73            Allied Residential
2                 19                         0  HumanGood Affordable Housing
3                  0                        11            Bellwether Housing
4                 25                        13         United Marketing Inc.

                   Authorized Signer Account  First Credit Year  Year 15  \
0                   Renton Housing Authority               2019   2034.0
1                            Blackstone Inc.               2023   2038.0
2               HumanGood Affordable Housing               2021   2035.0
3                         Bellwether Housing               2021   2035.0
4  InterIm Community Development Association               2023   2037.0

   TC Reg Agreement Exp Date  Monitoring Agencies
0                    58075.0                  NaN
1                    60632.0                  NaN
2                    58806.0         COM; KC; SOH
3                    58806.0                   KC
4                    60632.0              KC; SOH

[5 rows x 28 columns]
             ProjectName  TotalUnitsBySize  YearCompleted  \
0            OLIVE TOWER              86.0         1983.0
1     BURKE GILMAN PLACE             113.0         1985.0
2   CAMBRIDGE APARTMENTS             157.0         1985.0
3  3904 M L KING JR WY S              33.0         1986.0
4              BROADVIEW              31.0         1986.0

                 Borrower                Address  TotalCityUnitsbySize  \
0     Bellwether  Housing         1624 BOREN AVE                  65.0
1  Burke Gilman Place PDA       5100 40TH AVE NE                 113.0
2          Cambridge LLLP           903 UNION ST                 156.0
3     SEED Properties LLC  3904 M L KING JR WY S                  17.0
4            Solid Ground          420 TERRY AVE                  21.0

   OperatingUnits  OperatingCityUnits           WBARS Parcel #s  \
0              86                  65                 660001970
1             113                 113  Project not in WBARS yet
2             157                 156                1978200225
3              33                  17    Parcel ID not in WBARS
4              31                  21    Parcel ID not in WBARS

  King County Parcel #s Comments
0             660001970       NaN
1            7974700256       NaN
2            1978200225       NaN
3            2539500060       NaN
4            8590900450       NaN

### Attempting to merge on Project Name and Address columns since that seems to be the only options to join on, but neither option returns any common records

In [ ]:
combined_data_project = pd.merge(bond_data, parcel_data, left_on='Project: Project Name', right_on='ProjectName')
print(combined_data_project.head())

Empty DataFrame
Columns: [Project Current OID, Project: Project Name, Address1, City, Zip, County, Count of Sites, Total Building Count, Common Area Setaside, Market Rate Setaside, Compliance LIH Units, Compliance Units, LIH 30%, LIH 35%, LIH 40%, LIH 45%, LIH 50%, LIH 60%, LIH 80%, Elderly Setaside, Disabled Setaside, Large Household Setaside, Property Management Company, Authorized Signer Account, First Credit Year, Year 15, TC Reg Agreement Exp Date, Monitoring Agencies, ProjectName, TotalUnitsBySize, YearCompleted, Borrower, Address, TotalCityUnitsbySize, OperatingUnits, OperatingCityUnits, WBARS Parcel #s, King County Parcel #s, Comments ]
Index: []

[0 rows x 39 columns]

In [40]:
combined_data_address = pd.merge(bond_data, parcel_data, left_on='Address1', right_on='Address')
print(combined_data_address.head())

Empty DataFrame
Columns: [Project Current OID, Project: Project Name, Address1, City, Zip, County, Count of Sites, Total Building Count, Common Area Setaside, Market Rate Setaside, Compliance LIH Units, Compliance Units, LIH 30%, LIH 35%, LIH 40%, LIH 45%, LIH 50%, LIH 60%, LIH 80%, Elderly Setaside, Disabled Setaside, Large Household Setaside, Property Management Company, Authorized Signer Account, First Credit Year, Year 15, TC Reg Agreement Exp Date, Monitoring Agencies, ProjectName, TotalUnitsBySize, YearCompleted, Borrower, Address, TotalCityUnitsbySize, OperatingUnits, OperatingCityUnits, WBARS Parcel #s, King County Parcel #s, Comments ]
Index: []

[0 rows x 39 columns]

### In looking at the some examples from both files, it looks like the project names in the Bond file are upper and lowercase while it is fully uppercase in the Parcel file. So after converting both of those columns to uppercase, the join results in a dataset with 129 shared project names

In [ ]:
bond_data['Project: Project Name'] = bond_data['Project: Project Name'].str.upper()
parcel_data['ProjectName'] = parcel_data['ProjectName'].str.upper()

combined_data = pd.merge(bond_data, parcel_data, left_on='Project: Project Name', right_on='ProjectName')
print(combined_data.head())
print(len(combined_data))

  Project Current OID       Project: Project Name  \
0              19-74A  FILIPINO COMMUNITY VILLAGE
1              19-77A           UNCLE BOB'S PLACE
2              19-72A             WILLOW CROSSING
3             18-112A               ASPEN TERRACE
4             18-120A           ENCORE APARTMENTS

                               Address1     City    Zip County  \
0                   5727 37th Avenue S.  Seattle  98118   King
1                         417 8th Ave S  Seattle  98104   King
2  6901 Martin Luther King Jr Way South  Seattle  98118   King
3                   1717 Belmont Avenue  Seattle  98122   King
4                        3010 First Ave  Seattle  98121   King

   Count of Sites  Total Building Count  Common Area Setaside  \
0               1                     1                     1
1               1                     1                     1
2               1                     1                     0
3               1                     1                     1
4               1                     1                     0

   Market Rate Setaside  ...  TotalUnitsBySize  YearCompleted  \
0                     0  ...              95.0         2021.0
1                     0  ...             126.0         2023.0
2                     0  ...             211.0         2022.0
3                     0  ...              90.0         2020.0
4                     0  ...              60.0         2021.0

                          Borrower                Address  \
0  Filipino Community Village LLLP        5727 37TH AVE S
1            Uncle Bob's Place LLC          714 S KING ST
2             Willow Crossing LLLP  6901 M L KING JR WY S
3           Pioneer Belmont 1 LLLP       1723 BELMONT AVE
4              Encore Housing LLLP           3010 1ST AVE

   TotalCityUnitsbySize  OperatingUnits  OperatingCityUnits  WBARS Parcel #s  \
0                  94.0              95                  94       3426600080
1                 125.0             126                 125       8801750010
2                 211.0             211                 211       3333002960
3                  89.0              90                  89        880490068
4                  60.0              60                  60        695000205

   King County Parcel #s                     Comments
0             2499950000                           NaN
1             8801750000                           NaN
2             3333002960                           NaN
3             8804900680  shows up as 1717 Belmont Ave
4              695000205                           NaN

[5 rows x 39 columns]
129

### However, I noticed when looking through some of the entries that the addresses did not seem to match up either. Sometimes this was due to differences like AVE vs. Avenue and S vs. South, but there were also some instances of different street numbers and even different street names. The latter differences definitely make me concerned that some properties are not actually the same.

In [ ]:
combined_data[['Project: Project Name','Address','Address1']]

,Project: Project Name,Address,Address1
0,FILIPINO COMMUNITY VILLAGE,5727 37TH AVE S,5727 37th Avenue S.
1,UNCLE BOB'S PLACE,714 S KING ST,417 8th Ave S
2,WILLOW CROSSING,6901 M L KING JR WY S,6901 Martin Luther King Jr Way South
3,ASPEN TERRACE,1723 BELMONT AVE,1717 Belmont Avenue
4,ENCORE APARTMENTS,3010 1ST AVE,3010 First Ave
...,...,...,...
124,COMPASS BROADVIEW,147 N 132ND ST,13047 Greenwood Ave N
125,GARDNER HOUSE,2870 S HANFORD ST,2870 South Hanford St
126,POLARIS AT RAINIER BEACH,9400 RAINIER AVE S,9400 Rainier Avenue S.
127,AN LAC,1253 S JACKSON ST,"1253 S. Jackson Street, Suite A"
128,STATION HOUSE,131 10TH AVE E,131 Tenth Ave E

### We can also check accuracy by looking at the number of units listed in each dataset. There are only 5 matching projects in this dataset that do not have the same number of units which does give me more confidence that the matches are accurate.

In [ ]:
# create True/False column indicating whether the number of units matches across the two datasets
combined_data['Matching Units'] = combined_data['Compliance Units'] == combined_data['OperatingUnits']

# number of matching projects with different number of units
print(len(combined_data.loc[combined_data['Matching Units']==False,]))
print(combined_data.loc[combined_data['Matching Units']==False,])

5
   Project Current OID             Project: Project Name  \
13             21-115A           ALTAIRE AT JACKSON PARK
21              23-61A                JUNIPER APARTMENTS
25              98-30N                    RAVENNA SCHOOL
65               04-36  1811 EASTLAKE SUPPORTIVE HOUSING
72              05-92A              CAMBRIDGE APARTMENTS

                  Address1     City    Zip County  Count of Sites  \
13       14343 15th Ave NE  Seattle  98125   King               1
21      321 10th Ave South  Seattle  98104   King               1
25  6545 Ravenna Avenue NE  Seattle  98115   King               1
65       1811 Eastlake Ave  Seattle  98101   King               1
72      13030 Linden Ave N  Seattle  98133   King               1

    Total Building Count  Common Area Setaside  Market Rate Setaside  ...  \
13                     1                     1                     0  ...
21                     1                     0                     0  ...
25                     1                     1                     0  ...
65                     1                     0                     0  ...
72                     2                     2                     0  ...

    YearCompleted                                           Borrower  \
13            NaN  SRM Development/Urban League of Metropolitan S...
21            NaN                              Yesler Block 6 6 LLLP
25            NaN                 Ravenna School Limited Partnership
65         2005.0                  Downtown Emergency Service Center
72         1985.0                                     Cambridge LLLP

                Address  TotalCityUnitsbySize  OperatingUnits  \
13    14343 15TH AVE NE                 206.0               0
21       321 10TH AVE S                 113.0               0
25  6545 RAVENNA AVE NE                  38.0               0
65    1811 EASTLAKE AVE                  75.0              75
72         903 UNION ST                 156.0             157

    OperatingCityUnits           WBARS Parcel #s  King County Parcel #s  \
13                   0  Project not in WBARS yet             6632300630
21                   0  Project not in WBARS yet             6599950000
25                   0                7173500010             7173500000
65                  75                7117500010             7117500010
72                 156                1978200225             1978200225

    Comments   Matching Units
13        NaN           False
21        NaN           False
25        NaN           False
65        NaN           False
72        NaN           False

[5 rows x 40 columns]

### Overall, these two datasets are clearly describing similar projects but are not organized in a way that makes them easy to combine. I would want to check with the owners of both of these datasets to confirm my assumptions about which columns map together (like Compliance Units and Operating Units) and determine if there are any other shared columns like a project ID that might be easier to join on. I would also want to do futher research into the address discrepancies to confirm that the projects in the combined dataset are actually a 100% match

In [58]:
combined_data.to_excel(os.environ.get('DOWNLOAD_PATH'), index=False)